@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.left {
  text-align: left;
}

.brands-section .brands, footer .others, footer .others .social_icons > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner-section .content p, .features-section .features .feature-option .option-content p, .design-section .design .heading p, .client-section .client .card p, .website-ad-section .website-ad .myContact p, footer .others p {
  text-align: center;
  color: #455880;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
}

header .navbar .nav-link, header .banner-section .myToggle .button, .design-section .design .heading .button, .website-ad-section .website-ad .myContact .button {
  color: #1e266d;
  font-size: 15px;
  font-weight: 600;
  border-radius: 30px;
  padding: 1rem 1rem !important;
}

header .navbar .nav-link:hover, header .banner-section .myToggle .button:hover, .design-section .design .heading .button:hover, .website-ad-section .website-ad .myContact .button:hover, header .navbar .nav-link:focus, header .banner-section .myToggle .button:focus, .design-section .design .heading .button:focus, .website-ad-section .website-ad .myContact .button:focus {
  color: #fff;
  background: #364ffa !important;
}

@-webkit-keyframes myAnimation {
  from {
  }
  to {
  }
}

@keyframes myAnimation {
  from {
  }
  to {
  }
}

header .banner-section .heading, .features-section .heading, .design-section .design .heading, .client-section .heading {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 249, 255, 0.12)), to(#f2f9ff));
  background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #f2f9ff 100%);
}

header .banner-section .heading h1, .features-section .heading h1, .design-section .design .heading h1, .client-section .heading h1 {
  font-weight: 700;
  text-align: center;
  color: #1e266d;
  margin-top: 50px;
}

/****header*****/
header .navbar {
  padding: 20px 0;
}

header .navbar .dropdown-menu {
  border: 0 !important;
  background: none;
}

header .navbar .dropdown-menu .dropdown-item {
  display: inline-block;
  font-weight: 600;
  color: #1e266d;
  border: 3px solid #1e266d;
  border-radius: 10px;
  margin-bottom: 5px;
  background: #fff;
}

header .navbar .dropdown-menu .dropdown-item:hover, header .navbar .dropdown-menu .dropdown-item:focus {
  color: #fff !important;
  background: #333 !important;
}

header .navbar .active a {
  color: #fff;
  background-color: #364ffa;
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;
  border-radius: 30px;
  padding: 1rem 1rem !important;
}

header .navbar .active a:hover, header .navbar .active a:focus {
  color: #fff;
  background: #333 !important;
}

header .banner-section .myToggle {
  width: 50%;
  margin: auto;
}

header .banner-section .myToggle .left-btn {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .banner-section .myToggle .right-btn {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .banner-section .myToggle .button {
  width: 150px;
  height: 70px;
  padding: 1rem !important;
  border: 2px solid;
  display: block;
  margin: auto;
}

header .carousel .carousel-item > img {
  position: relative;
}

header .carousel .carousel-item .user-face {
  position: absolute;
  top: 19%;
  left: 20%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
}

header .carousel .carousel-item .user-face-swap {
  position: absolute;
  top: 19%;
  right: 15%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
}

header .carousel .carousel-indicators [data-bs-target] {
  width: 20px !important;
  height: 20px !important;
  border: 0;
  border-radius: 50%;
  background: royalblue !important;
}

.brands-section .shaded-words p {
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
  text-transform: capitalize;
  margin-top: 30px;
}

.brands-section .brands li:hover {
  border: 2px solid;
}

.brands-section .brands li img {
  margin: 10px 30px;
}

.features-section .features > img {
  float: left;
}

.features-section .features .feature-option {
  margin-top: 15%;
  padding: 0 50px;
}

.features-section .features .feature-option .feat {
  margin-bottom: 30px;
}

.features-section .features .feature-option .feat img {
  float: left;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.features-section .features .feature-option .option-content {
  padding: 0 10px;
  float: right;
}

.features-section .features .feature-option .option-content h3 {
  font-size: 20px;
  font-weight: 700;
  color: #1e266d;
}

.features-section .features .feature-option .option-content p {
  text-align: left;
}

.features-section .features .feature-option .option-content:hover, .features-section .features .feature-option .option-content:focus {
  -webkit-box-shadow: 5px 5px 13px #496f8e, -5px -5px 13px #ffffff;
          box-shadow: 5px 5px 13px #496f8e, -5px -5px 13px #ffffff;
  border-radius: 10px;
}

.design-section .design .heading .button {
  width: 150px;
  height: 70px;
  padding: 1rem !important;
  border: 2px solid;
  display: block;
  margin: auto;
}

.client-section .heading {
  margin-bottom: 30px;
}

.client-section .client {
  padding: 1rem !important;
}

.client-section .client .card {
  border: 2px solid rgba(51, 51, 51, 0.466);
  border-radius: 10px;
}

.client-section .client .card:hover, .client-section .client .cardfocus {
  -webkit-box-shadow: 5px 5px 13px #496f8e, -5px -5px 13px #ffffff;
          box-shadow: 5px 5px 13px #496f8e, -5px -5px 13px #ffffff;
}

.client-section .client .card p {
  padding: 10px;
  text-align: left;
  height: 250px;
}

.client-section .client .card img {
  margin: auto;
}

.client-section .client .card h5 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  display: block;
  margin: 1rem;
  text-align: center;
}

.client-section .client .card span {
  display: block;
  font-size: 15px;
  color: #333;
  text-align: center;
}

.website-ad-section {
  background-color: #364ffa;
}

.website-ad-section .website-ad h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.website-ad-section .website-ad .myContact {
  text-align: right;
  margin-top: auto;
}

.website-ad-section .website-ad .myContact .button {
  border: 2px solid;
  display: block;
  margin-left: auto;
}

.website-ad-section .website-ad .myContact .button b {
  margin-left: 10px;
}

.website-ad-section .website-ad .myContact p {
  text-align: right;
  color: #ffffff;
}

footer .others {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

footer .others p {
  text-align: left;
  padding: 0px 30px;
  color: #333;
}

footer .others .quote-start {
  display: block;
  width: 40px;
  margin-right: auto;
}

footer .others .quote-end {
  display: block;
  width: 40px;
  margin-left: auto;
}

footer .others .social_icons {
  margin: 10px 0px;
}

footer .others .social_icons > ul {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

footer .others .social_icons > ul a {
  margin-right: 10px;
}

footer .others .social_icons .fab,
footer .others .social_icons .far {
  color: #333;
  font-size: 25px;
}

footer .others a {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: #333;
}

footer .others .listHead > a {
  color: #333;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

footer .others li {
  display: block;
  margin: 10px 0;
}
/*# sourceMappingURL=style.css.map */