@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

$themePrimaryColor: #1e266d;
$themesecondaryColor: #455880;
$buttonColor: #364ffa;

body {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  // padding: 0px 20px;
}

%flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

%h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: #2c2c2c;
  letter-spacing: 2.5px;
  line-height: 20px;
}
%p {
  text-align: center;
  color: $themesecondaryColor;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
}

%btn {
  color: $themePrimaryColor;
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;
  border-radius: 30px;
  padding: 1rem 1rem !important;

  &:hover,
  &:focus {
    color: #fff;
    background: $buttonColor !important;
  }
}

%btnAdvance {
  border-radius: 4px;
  background-color: $buttonColor;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px 0px;

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
    text-transform: uppercase;
    &::after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
  &:hover span {
    padding-right: 25px;
  }

  &:hover span:after {
    opacity: 1;
    right: 0;
  }
  &:hover,
  &:focus {
    color: #fff;
    background: black;
  }
}
%animation {
  animation: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes myAnimation {
  from {
  }
  to {
  }
}

%myHeading {
  background: linear-gradient(
    180deg,
    rgba(242, 249, 255, 0.12) 0%,
    #f2f9ff 100%
  );
  h1 {
    font-weight: 700;
    text-align: center;
    color: $themePrimaryColor;
    margin-top: 50px;
  }
}

/****header*****/
header {
  .navbar {
    padding: 20px 0;
    .nav-link {
      @extend %btn;
    }
    .dropdown-menu {
      border: 0 !important;
      background: none;
      .dropdown-item {
        display: inline-block;
        font-weight: 600;
        color: $themePrimaryColor;
        border: 3px solid $themePrimaryColor;
        border-radius: 10px;
        margin-bottom: 5px;
        background: #fff;
        &:hover,
        &:focus {
          color: #fff !important;
          background: #333 !important;
        }
      }
    }
    .active {
      a {
        color: #fff;
        background-color: $buttonColor;
        font-size: 15px;
        font-weight: 600;
        margin: 0 10px;
        border-radius: 30px;
        padding: 1rem 1rem !important;

        &:hover,
        &:focus {
          color: #fff;
          background: #333 !important;
        }
      }
    }
  }

  .banner-section {
    .heading {
      @extend %myHeading;
    }
    .content {
      p {
        @extend %p;
      }
    }
    .myToggle {
      width: 50%;
      margin: auto;
      .left-btn {
        text-align: right;
      }
      .right-btn {
        text-align: left;
      }
      .button {
        @extend %btn;
        width: 150px;
        height: 70px;
        padding: 1rem !important;
        border: 2px solid;
        display: block;
        margin: auto;
      }
    }
  }
  .carousel {
    .carousel-item {
      > img {
        position: relative;
      }
      .user-face {
        position: absolute;
        top: 19%;
        left: 20%;
        transform: translate(-50%, -20%);
      }
      .user-face-swap {
        position: absolute;
        top: 19%;
        right: 15%;
        transform: translate(-50%, -20%);
      }
    }
    .carousel-indicators [data-bs-target] {
      width: 20px !important;
      border-radius: 50%;
      background: royalblue !important;
    }
  }
}

.brands-section {
  .shaded-words {
    p {
      text-align: center;
      font-size: 12px;
      color: #9e9e9e;
      text-transform: capitalize;
      margin-top: 30px;
    }
  }
  .brands {
    @extend %flex;
    li {
      &:hover {
        border: 2px solid;
      }
      img {
        margin: 10px 30px;
      }
    }
  }
}

.features-section {
  .heading {
    @extend %myHeading;
  }
  .features {
    > img {
      float: left;
    }
    .feature-option {
      margin-top: 15%;
      padding: 0 50px;
      .feat {
        margin-bottom: 30px;
        img {
          float: left;
          margin-top: 5px;
        }
      }
      .option-content {
        padding: 0 50px;
        float: right;
        h3 {
          font-size: 20px;
          font-weight: 700;
          color: $themePrimaryColor;
        }
        p {
          @extend %p;
          text-align: left;
        }
      }
    }
  }
}

.design-section {
  .design {
    .heading {
      @extend %myHeading;
      p {
        @extend %p;
      }
      .button {
        @extend %btn;
        width: 150px;
        height: 70px;
        padding: 1rem !important;
        border: 2px solid;
        display: block;
        margin: auto;
      }
    }
  }
}

.client-section {
  .heading {
    @extend %myHeading;
    margin-bottom: 30px;
  }
  .client {
    padding: 0px 40px;
    .card {
      border: 2px solid rgba(51, 51, 51, 0.466);
      border-radius: 10px;
      &:hover,
      &focus {
        box-shadow: 5px 5px 13px #496f8e, -5px -5px 13px #ffffff;
      }
      p {
        @extend %p;
        padding: 10px;
        text-align: left;
        height: 250px;
      }
      img {
        margin: auto;
      }
      h5 {
        display: block;
        margin: 1rem;
        text-align: center;
      }
      span {
        display: block;
        font-size: 15px;
        color: #333;
        text-align: center;
      }
    }
  }
}

.website-ad-section {
  background-color: $buttonColor;
  height: 40vh;
  .website-ad {
    h1 {
      font-size: 40px;
      font-weight: 700;
      color: #fff;
      text-align: left;
    }
    .myContact {
      text-align: right;
      .button {
      }
      p {
      }
    }
  }
}
