@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

$themePrimaryColor: #1e266d;
$themesecondaryColor: #455880;
$buttonColor: #364ffa;

body {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  // padding: 0px 20px;
}

%flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

%h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: #2c2c2c;
  letter-spacing: 2.5px;
  line-height: 20px;
}
%p {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #333 !important;
  font-family: "Poppins", sans-serif !important;
}

%btn {
  color: $themePrimaryColor;
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;
  border-radius: 20px;
  padding-right: 1rem !important;
  padding-left: 1rem !important;

  &:hover,
  &:focus {
    color: #fff;
    background: $buttonColor !important;
  }
}

%btnAdvance {
  border-radius: 4px;
  background-color: $buttonColor;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px 0px;

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
    text-transform: uppercase;
    &::after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
  &:hover span {
    padding-right: 25px;
  }

  &:hover span:after {
    opacity: 1;
    right: 0;
  }
  &:hover,
  &:focus {
    color: #fff;
    background: black;
  }
}
%animation {
  animation: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes myAnimation {
  from {
  }
  to {
  }
}

/****header*****/
header {
  width: 100%;
  .navbar {
    padding: 20px 0;
    .nav-link {
      @extend %btn;
    }
    .dropdown-menu {
      border: 0 !important;
      background: none;
      .dropdown-item {
        display: inline-block;
        font-weight: 600;
        color: $themePrimaryColor;
        border: 3px solid $themePrimaryColor;
        border-radius: 10px;
        margin-bottom: 5px;
        background: #fff;
        &:hover,
        &:focus {
          color: #fff !important;
          background: #333 !important;
        }
      }
    }
    .active {
      a {
        color: #fff;
        background-color: $buttonColor;
        font-size: 15px;
        font-weight: 600;
        margin: 0 10px;
        border-radius: 20px;
        padding-right: 1rem !important;
        padding-left: 1rem !important;

        &:hover,
        &:focus {
          color: #fff;
          background: #333 !important;
        }
      }
    }
  }

  .banner-section {
    .heading {
      h1 {
        font-weight: 700;
        text-align: center;
        color: $themePrimaryColor;
        margin-top: 50px;
      }
    }
    .content {
      p {
        text-align: center;
        color: $themesecondaryColor;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
      }
    }
    .myToggle {
      width: 50%;
      margin: auto;
      .left-btn {
        text-align: right;
      }
      .right-btn {
        text-align: left;
      }
      .button {
        @extend %btn;

        border: 2px solid $buttonColor;
        padding: 1rem !important;
      }
    }
  }
}
